{% extends "base.html" %}
{% block content %}
  <div class="container">
  	<h1>Output Examples</h1>
  	<ul>
  		<li><a href="/examples/weights_off">Weights off</a></li>
  		<li><a href="/examples/weights_on_accuracy_1">Weights on - Accuracy 1</a></li>
  		<li><a href="/examples/weights_on_accuracy_2">Weights on - Accuracy 2</a></li>
  		<li><a href="/examples/weights_on_accuracy_3">Weights on - Accuracy 3</a></li>
  		<li><a href="/examples/weights_on_accuracy_4">Weights on - Accuracy 4</a></li>
  		<li><a href="/examples/weights_on_accuracy_5">Weights on - Accuracy 5</a></li>
  	</ul>
  </div>
{% endblock %}