{% extends "base.html" %}
{% block content %}
      <div class="starter-template">
        <h1>Text Geocoder</h1>
        <p class="lead">Upload a text file for geocode analysis.</p>
      </div>
      <div class="starter-template">
        <h2>Upload new File</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <div>
            <input class="input_file" type="file" name="file"><br>
            <input type="checkbox" name="geojson" value="True">Display GeoJSON<br>
            <input type="checkbox" name="heatmap" value="True" checked>Display Heatmap<br>
            <input class="input_file" type="submit" value="Upload">
          </div>
        </form>
      </div>
{% endblock %}
